*{
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    height: 100%;
    overflow-x: hidden;
    background-color: bisque;
}

/*Navbar*/
.nav-bar {
    display: flex;
    background-color: rgba(255, 255, 255, 0) !important; 
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1rem;
    position: absolute;
    width: 100%;
}

.nav-bar .botonera {
    display: inherit;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.nav-bar .botonera a {
    background-color: rgba(255, 255, 255, 0) !important; 
    border: none;
    color: white;
    font-size: 1.1rem;

}

.nav-bar .botonera a:hover {
    color: #e40c0c;
}

.logo {
    width: 4rem;
}

/*Imagen principal junto con titulos*/
.imagen-tarjeta{
    background: linear-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.1) ) ,  
    url('Recursos/pizzahome.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.imagen-tarjeta h1{
    color: #fff;
    font-size: 3.5rem;
    text-shadow: 2px 2px 4px rgb(6, 117, 30);
}

.imagen-tarjeta h6{
    font-size: 22px;
    font-weight: 900;
    font-family: "Montserrat", Sans-serif;
    color: #fff;
}

.imagen-tarjeta p {
    font-size: 15px;
    font-weight: 900;
    font-family: "Montserrat", Sans-serif;
    color: #fff;
    text-shadow: 2px 2px 4px rgb(117, 6, 6);
}
.icono{
    height: 30px;
}
.conocenos {
    font-size: 24px;
    font-weight: 400;
    margin-top: 10px;
    color: #0b0b0b;
    background-color: bisque;
    font-family: "Montserrat", Sans-serif;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(223, 10, 10, 0.1);
}

.conocenos:hover  {
    background: linear-gradient(90deg, green 33.33%, white 33.33%, white 66.67%, red 66.67%);
    color: #000000;
    font-weight: bold;
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

/*Titulos de secciones*/
.barra-divisora {
    height: 4rem;
    background-color: #008D44;
    display: flex;
    justify-content: center;
    align-items: center;
}

.segunda-barra {
    background-color: #C82A35;
}

.sub-titulo{
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
}

@media screen and (max-width: 550px) {
    .sub-titulo{
        font-size: 20px;
    }
}

/*Opciones de productos*/
.opciones {
    padding: 20px;
    border-radius: 10px; 
    max-width: 1200px;
    margin: 0 auto; 
}

.opciones-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; /
}

.opcion-imagen {
    padding: 20px;
    text-align: center; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s; 
}

.opcion-imagen:hover {
    transform: translateY(-10px);
}

.opcion-imagen img {
    max-width: 100px; 
    margin-bottom: 10px;
}

.opcion-imagen h3 {
    font-size: 1.2em;
    color: #333; 
}

/*Productos*/
.productos {
    padding: 50px 20px;
    text-align: center;
}

.productos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1000px; 
    margin: 0 auto; 
}

.tarjeta-productos {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tarjeta-productos img {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

.mas-informacion{
    font-size: 24px;
    font-weight: 400;
    margin: 20px auto;
    color: #ffffff;
    background-color: #e70909;
    font-family: "Montserrat", Sans-serif;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.mas-informacion:hover{
    background-color: #25d366;
    transform: scale(1.05);
}

.carrito{
    color: #f0ebeb;
    background-color: #000000;
    font-family: "Montserrat", Sans-serif;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.carrito:hover {
    background: linear-gradient(90deg, green 33.33%, white 33.33%, white 66.67%, red 66.67%);
    color: #000000;
    font-weight: bold;
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

/*Promociones*/
.promosExclusivas {
    margin: 0 auto;
    padding: 20px;
}

.promos-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.promos {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 80%;
    padding: 20px;
    margin: auto;
}

.promos img {
    max-width: 400px;
    max-height: 150px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px; 
}

.promos-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.promos-content h3 {
    margin: 0 0 10px 0; 
    font-size: 1.5em;
    color: #333333;
}

.promos-content p {
    margin: 0 0 20px 0;
    font-size: 1em;
    color: #666666;
    text-align: left; 
}

.promos .wpp {
    background-color: #25d366;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.promos .wpp:hover {
    background-color: #1ebc5b;
}

/*Medios de pago*/
.pagos{
    margin: auto;
    height: 300px;
}

.tarjetas{
    margin: auto;
    height: 300px;
    padding: 50px;
}

/* PIE DE PAGINA */
.pie-pagina {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 50px;
    padding: 45px 0px;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.box figure {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box figure img {
    width: 250px;
}

.box h2 {
    color: #463b01;
    margin-bottom: 25px;
    font-size: 20px;
}

.box p {
    color: #0f0101;
    margin-bottom: 10px;
}

.redes-sociales {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.redes-sociales a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    transition: all 300ms ease;
}

.grupo-2 {
    padding: 15px 10px;
    text-align: center;
    color: #0f0101;
}

.grupo-2 small {
    font-size: 15px;
}

.mapa {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Diseño reponsivo de la pagina*/

/*Navbar*/
@media screen and (max-width:800px) {
    .pie-pagina .grupo-1 {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        padding: 35px 0px;
    }
}

@media screen and (max-width: 700px) {

    .nav-bar{
        flex-direction: column;
        position: relative;
        background-color: #000000 !important;
    }

    .nav-bar .botonera{
        flex-direction: column;
    }
}

@media screen and (max-width: 650px) {

    body{
        font-size: 14px;
    }

    /*Imagen Principal*/
    .imagen-tarjeta{
        height: 70vh;
        padding: 20px;
        text-align: center;
        
    }


    .imagen-tarjeta p{
        font-size: 1rem;
        margin-top: 0;
    }

    
    /*conocenos*/
    .conocenos{
        font-size: 1.2rem;
        padding: 10px;
    }

    /*Titulos*/
    .titulo-rojo,
    .titulo-verde{
        font-size: 1.5rem;
        padding: 10px;
    }

    /*opciones*/
    .opciones{
        padding: 10px;
    }

    .opciones-grid{
        grid-template-columns: 1fr;
    }

    .opcion-imagen{
        padding: 10px;
    }

    .opcion-imagen img{
        max-width: 70px;
    }

    .opcion-imagen h3{
        font-size: 1rem;
    }

    /*Productos*/
    .productos{
        padding: 20px;
    }

    .productos-grid{
        grid-template-columns: 1fr;
    }

    .tarjeta-productos{
        margin:5px;
        padding: 10px;
    }

    .tarjeta-productos img{
        height: 100px;
    }

    /*Mas informacion*/
    .mas-informacion{
        font-size: 1.2rem;
        padding: 10px;
    }

    /*carrito boton*/
    .carrito{
        font-size: 1rem;
        padding: 10px;
    }

    /*promos*/
    .promos{
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }

    .promos img{
        max-width: 100%;
        margin-bottom: 10px;
    }

    .promos-content{
        font-size: 0.9rem;
    }
}

/*footer*/
@media screen and (max-width: 600px) {
    .hero-text h1 {
        font-size: 36px;
    }
    
    .hero-text p {
        font-size: 18px;
    }

    .product {
        width: 100%;
    }

    .navbar {
        flex-direction: column;
    }

    .navbar-logo img {
        height: 80px;
    }
}

@media screen and (max-width: 1000px) {
    .pie-pagina .grupo-1 {
        grid-template-columns: 1fr 1fr;
        align-items: center;

        padding: 20px 10px;
    }

    .box figure img {
        width: 50%;
    }
}


@media screen and (max-width: 600px) {
    .pie-pagina .grupo-1 {
        grid-template-columns: 1fr ;
    }

}
