*{
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    height: 100%;
    overflow-x: hidden;
    background-color: bisque !important;
}

.nav-bar {
    display: flex;
    background-color: black !important; 
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1rem;
    width: 100%;
}

.nav-bar .botonera {
    display: inherit;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.nav-bar .botonera a {
    background-color: rgba(255, 255, 255, 0) !important; 
    border: none;
    color: white;
    font-size: 1.1rem;
}

.nav-bar .botonera a:hover {
    color: #e40c0c;
}

.logo {
    width: 4rem;
}

.sub-titulo{
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
}

@media screen and (max-width: 550px) {
    .sub-titulo{
        font-size: 20px;
    }
}

.barra-divisora {
    height: 4rem;
    background-color: #008D44;
    display: flex;
    justify-content: center;
    align-items: center;
}

.segunda-barra {
    background-color: #C82A35;
}

.carrito {
    color: #f0ebeb;
    background-color: #000000;
    font-family: "Montserrat", Sans-serif;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.carrito:hover {
    background: linear-gradient(90deg, green 33.33%, white 33.33%, white 66.67%, red 66.67%);
    color: #000000;
    font-weight: bold;
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.card {
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

/*Footer*/
.pie-pagina {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 50px;
    padding: 45px 0px;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.box figure {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box figure img {
    width: 250px;
}

.box h2 {
    color: #463b01;
    margin-bottom: 25px;
    font-size: 20px;
}

.box p {
    color: #0f0101;
    margin-bottom: 10px;
}

.redes-sociales {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.redes-sociales a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    transition: all 300ms ease;
}

.grupo-2 {
    padding: 15px 10px;
    text-align: center;
    color: #0f0101;
}

.grupo-2 small {
    font-size: 15px;
}

.mapa {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    background:url('/Recursos/hoja-carrito.png') no-repeat center center/cover;
}

.pizza-gif{
    height: 187px;
}

.contenedor-gifs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .contenedor-gifs{
        flex-direction: column;
        align-items: stretch;
    }

    .pizza-gif{
        display: none;
    }
    .pizza-gif1{
        height: 200px;
        width: 200px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 700px) {

    .nav-bar{
        flex-direction: column;
        position: relative;
        background-color: #000000 !important;
    }

    .nav-bar .botonera{
        flex-direction: column;
    }
}


@media screen and (max-width: 600px) {
    .hero-text h1 {
        font-size: 36px;
    }
    
    .hero-text p {
        font-size: 18px;
    }

    .product {
        width: 100%;
    }

    .navbar {
        flex-direction: column;
    }

    .navbar-logo img {
        height: 80px;
    }
}


@media screen and (max-width:800px) {
    .pie-pagina .grupo-1 {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        padding: 35px 0px;
    }
}

@media screen and (max-width: 1000px) {
    .pie-pagina .grupo-1 {
        grid-template-columns: 1fr 1fr;
        align-items: center;

        padding: 20px 10px;
    }

    .box figure img {
        width: 50%;
    }
}


@media screen and (max-width: 600px) {
    .pie-pagina .grupo-1 {
        grid-template-columns: 1fr ;
    }

}